{% extends "home.html" %}
{% block content %}
<form method="POST" action="/delete_timesheet/{{sheet_data.row_index}}" >
<h3 class="red-text text-darken-4 center-align">View Timesheets</h3>    
    
<!-- Timesheets appear here -->  
        <table class="striped">
            <thead>
              <tr>
                <th>
                
                </th>
                {% for employee in sheet_data.employees%}
                  <th>{{employee}}</th>
                {%endfor%}
              </tr>
            </thead>
            
            <tbody>
            {% for sector in sheet_data.sectors%}
              <tr>
                <td>{{sector}}</td>
                {%for hour in sheet_data.hours%}
                    <td><input name="hours" value="{{hour}}"> </td>
                {%endfor%}
              </tr>
            {%endfor%}
            </tbody>
          </table>
    </div>
</div>

<!-- submit button -->
  <div class="row">
      <div id="homeSection" class="col s12 center-align">
          <button class="btn-large red darken-3" type="submit">Delete Timesheet<i class="fas fa-calendar-alt" style="color: white;"></i></button>
      </div>
  </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
</script>

{% endblock %}