<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
    <title>Overhead Manager</title>
</head>
<body>
<!-- Header for top of page including navbar -->
    <header>
        <nav>
            <div class="nav-wrapper">
            <a href="/" class="brand-logo">Overhead Manager</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('timesheets') }}">Timesheets</a></li>
                <li><a href="{{ url_for('reports') }}">Reports</a></li>
             </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        <div>
            <h3 class="red-text text-darken-4 center-align">Home</h3>
        </div>
        <br>
         <!-- Buttons to take you posting timesheet or to the report section -->
        <div id="homeSection" class="col s12 center-align">
            <a href="{{ url_for('timesheets') }}" id="timesheet" class="btn-large green darken-3">Enter Timesheets<i class="fas fa-calendar-alt" style="color: white;"></i></a>
        </div>
        <br>
        <div class="col s12 center-align">
            <a href="{{ url_for('reports') }}" id="report" class="btn-large green darken-3">Generate Reports<i class="fas fa-chart-bar" style="color: white;"></i></a>
        </div>
        {% endblock %}
    </main>

   
   

    <!-- Footer with name and link to code institute -->
    <footer class="page-footer">
        <div class="footer-copyright">
          <div class="container">
          © 2023 Michael Walker Milestone Project 3
          <a class="grey-text text-lighten-4 right" href="https://codeinstitute.net" target="_blank">Code Institute</a>
          </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    {% block extrascript %}
    {% endblock %}
    
</body>
</html>