{% extends "home.html" %}
{% block content %}

<h3 class="red-text text-darken-4 center-align">Timesheets</h3>    
<!-- Drop down lists to select variables -->
<div class="row card-panel red lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_timesheet') }}">
        <!-- Category name -->
        <div class="row">
            <div class="input-field col s12">
                <select name="sector" class="validate" required>
                  <option value="" disabled selected>Choose your sector</option>
                  {% for sector in sheet_data.sectors%}
                  <option value="{{sector}}">{{sector}}</option>
                  {%endfor%}
                </select>
                <label>Sector</label>
              </div>
            
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select name="employee">
                    {% for employee in sheet_data.employees%}
                        <option value="{{employee}}">{{employee}}</option>
                    {%endfor%}
                </select>
                <label>Employee</label>
            </div>
        </div>
        <!-- Manual input button for numerical value -->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-clock prefix green-text text-darken-3"></i>
                <input id="category_name" name="hours" minlength="1" maxlength="3" type="number" class="validate" required>
                <label for="category_name">Hours Worked</label>
            </div>
        </div>    
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large green darken-3">
                    Add Timesheet<i class="fas fa-calendar-alt" style="color: white;"></i></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!-- https://plotly.com/python/bar-charts/ -->
<script>
    // script initialisation for form
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
</script>

{% endblock %}