{% extends "home.html" %}
{% block content %}

<h3 class="red-text text-darken-4 center-align">View Timesheets</h3>    
    
<!-- Timesheets appear here -->  


<!-- submit button -->
<div class="row">
    <div id="homeSection" class="col s12 center-align">
        <a href="timesheets" id="timesheet" class="btn-large green darken-3">Add Another Timesheets<i class="fas fa-calendar-alt" style="color: white;"></i></a>
    </div>
</div>
    
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
</script>

{% endblock %}